<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Project - All Books</title>
    <link th:href="@{/css/bootstrap.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/style.css}"
          rel="stylesheet"/>
    <link th:href="@{/fontawesome/all.css}"
          rel="stylesheet"/>
</head>
<body>
<h1>All Books</h1>
<p>
    <a href="../">Home</a>&nbsp;|&nbsp;
    <a th:href="@{/books/new}">Add Book</a>&nbsp;|&nbsp;
</p>
<div class="container">
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <div class="alert alert-danger" role="alert">
                No books found !
            </div>
        </div>
        <div th:unless="${books.isEmpty()}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td>[[${book.id}]]</td>
                    <td>

                        <i th:if="${book.photos == null}"
                           class="fas fa-portrait fa-3x icon-silver"></i>
                        <img th:if="${book.photos != null}"
                             th:src="@{${book.photos}}"
                             style="width: 100px"/>
                    </td>
                    <td th:text="${book.title}"></td>
                    <td>
                        <a
                                th:if="${book.enabled == true}"
                                th:href="@{'/books/' + ${book.id} + '/enabled/false'}"
                                title="Disable this book"
                        >
                            <i class="fa-solid fa-circle-check fa-2x icon-green"></i>
                        </a>
                        <a
                                th:if="${book.enabled == false}"
                                th:href="@{'/books/' + ${book.id} + '/enabled/true'}"
                                title="Enable this book"
                        >
                            <i class="fa-solid fa-circle fa-2x icon-dark"></i>
                        </a>
                    </td>
                    <td><a
                            th:href="@{/books/{id}(id=${book.id})}"
                            title="View Book"
                    >
                        <i class="fa-solid fa-eye fa-2x"></i>
                    </a></td>
                    <td><a
                            th:href="@{/books/{id}/edit(id=${book.id})}"
                            title="Edit Book"
                    >
                        <i class="fa-solid fa-pen-to-square fa-2x"></i>
                    </a>
                    </td>
                    <td>
                        <a
                                th:href="@{/books/{id}(id=${book.getId()})}"
                                title="Delete this book"
                                th:bookId="${book.id}"
                                class="link-delete"
                        >
                            <i class="fa-solid fa-trash link-delete fa-2x"></i>
                        </a>
                    </td>
                </tr>
                <tbody>
            </table>
        </div>

        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>
                Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
            </span>
        </div>
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>
                No books found
            </span>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Delete
                    Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <span id="confirmText"></span>
            </div>
            <div class="modal-footer">
                <form
                        th:method="DELETE"
                        id="deleteForm" action="#">
                    <button
                            type="submit"
                            class="btn btn-success"
                    >
                        Yes
                    </button>
                </form>
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">No
                </button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
